h1 { 
  text-align:center;
}

h2 { 
  text-align:center;
}

.nav-pills>li>a {
  border-radius: 0px;
}

a {
    color: #E00122; 
}

a:hover {
    color: #9D0118; 
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #E00122; 
}

.nav-pills>li.active>a:hover {
    background-color: #9D0118;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */
